<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistiques personnelle</title>
    <style type="text/css">
        .event {
            width: 300px;
            margin: auto;
            padding: 3px;
            border: 1px solid black;
            text-align: center;
        }

        .separator {
            width: 1px;
            height: 10px;
            background-color: black;
            margin: auto;
        }

        .separator:last-child {
            display: none;
        }

        .event .date {
            text-align: right;
            font-size: 0.8em;
            padding-top: 5px;
            color: gray;
        }
    </style>
</head>
<body>
    <% events.forEach(event => {%>
    <div class="event">
        <% if ( event.type === "fetchHaremMoney" ) { %>
            <%- include("events/fetchHaremMoney", {event}) -%>
        <% } else if ( event.type === "arenaBattle" ) { %>
            <%- include("events/arenaBattle", {event}) -%>
        <% } else if ( event.type === "trollBattle" ) { %>
            <%- include("events/trollBattle", {event}) -%>
        <% } else if ( event.type === "leagueBattle" ) { %>
            <%- include("events/leagueBattle", {event}) -%>
        <% } else if ( event.type === "mission" ) { %>
            <%- include("events/mission", {event}) -%>
        <% } else if ( event.type === "pachinko" ) { %>
            <%- include("events/pachinko", {event}) -%>
        <% } else if ( event.type === "sell" ) { %>
            <%- include("events/sell", {event}) -%>
        <% } else if ( event.type === "buy" ) { %>
            <%- include("events/buy", {event}) -%>
        <% } else if ( event.type === "quest" ) { %>
            <%- include("events/quest", {event}) -%>
        <% } else { %>
            <%= event.type %>
        <% } %>
        <div class="date"><%= moment(event.date).format("DD/MM - HH:mm") %></div>
    </div>
    <div class="separator"></div>
    <% }); %>
</body>
</html>
