<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Statistiques personnelle</title>
    <style type="text/css"><%- include("style.css") -%></style>
</head>
<body>
    <a href="/home.html">Accueil</a>

    <table id="sum">
        <tr>
            <th></th>
            <th>Gain</th>
            <th>Dépense</th>
            <th>Total</th>
        </tr>
        <tr class="today">
            <th>Aujourd'hui</th>
            <td class="profit"><%= formatNumber(sum.today.profit) %></td>
            <td class="dispense"><%= formatNumber(sum.today.dispense) %></td>
            <td><%= formatNumber(sum.today.profit + sum.today.dispense) %></td>
        </tr>
        <tr class="yesterday">
            <th>Hier</th>
            <td class="profit"><%= formatNumber(sum.yesterday.profit) %></td>
            <td class="dispense"><%= formatNumber(sum.yesterday.dispense) %></td>
            <td><%= formatNumber(sum.yesterday.profit + sum.yesterday.dispense) %></td>
        </tr>
        <tr class="lastWeek">
            <th>Les 7 derniers jours</th>
            <td class="profit"><%= formatNumber(sum.lastWeek.profit) %></td>
            <td class="dispense"><%= formatNumber(sum.lastWeek.dispense) %></td>
            <td><%= formatNumber(sum.lastWeek.profit + sum.lastWeek.dispense) %></td>
        </tr>
    </table>

    <% events.forEach(event => {%>
    <div class="event">
        <% if ( event.type === "fetchHaremMoney" ) { %>
            <%- include("events/fetchHaremMoney", {event}) -%>
        <% } else if ( event.type === "arenaBattle" ) { %>
            <%- include("events/arenaBattle", {event}) -%>
        <% } else if ( event.type === "trollBattle" ) { %>
            <%- include("events/trollBattle", {event}) -%>
        <% } else if ( event.type === "leagueBattle" ) { %>
            <%- include("events/leagueBattle", {event}) -%>
        <% } else if ( event.type === "mission" ) { %>
            <%- include("events/mission", {event}) -%>
        <% } else if ( event.type === "pachinko" ) { %>
            <%- include("events/pachinko", {event}) -%>
        <% } else if ( event.type === "sell" ) { %>
            <%- include("events/sell", {event}) -%>
        <% } else if ( event.type === "buy" ) { %>
            <%- include("events/buy", {event}) -%>
        <% } else if ( event.type === "quest" ) { %>
            <%- include("events/quest", {event}) -%>
        <% } else if ( event.type === "contest" ) { %>
            <%- include("events/contest", {event}) -%>
        <% } else if ( event.type === "girlUpgrade" ) { %>
            <%- include("events/girlUpgrade", {event}) -%>
        <% } else if ( event.type === "upgradeCarac" ) { %>
            <%- include("events/upgradeCarac", {event}) -%>
        <% } else if ( event.type === "missionGift" ) { %>
            <%- include("events/missionGift", {event}) -%>
        <% } else { %>
            <%= event.type %>
        <% } %>
        <div class="date"><%= moment(event.date).format("DD/MM - HH:mm") %></div>
    </div>
    <div class="separator"></div>
    <% }); %>

    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@4"></script>
    <script type="text/javascript">
        <% for ( const period in sum ) { %>
            <% if ( !sum.hasOwnProperty(period) ) { continue; } %>
            tippy("#sum .<%= period %> .profit", {
                content: `<%- include("profit", {source: sum[period]}) %>`,
                placement: "bottom",
            });
            tippy("#sum .<%= period %> .dispense", {
                content: `<%- include("dispense", {source: sum[period]}) %>`,
                placement: "bottom",
            });
        <% } %>
    </script>
</body>
</html>
