<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistiques personnelle</title>
    <style type="text/css">
        .event {
            width: 400px;
            margin: auto;
            padding: 3px;
            border: 1px solid black;
            text-align: center;
            overflow: auto;
        }

        .separator {
            width: 1px;
            height: 10px;
            background-color: black;
            margin: auto;
        }

        .separator:last-child {
            display: none;
        }

        .event .date {
            text-align: right;
            font-size: 0.8em;
            padding-top: 5px;
            color: gray;
            clear: both;
        }

        .item, .girl {
            width: 80px;
            height: 100px;
            margin: 5px;
            float: left;
        }

        .item img, .girl img {
            width: 80px;
            height: 80px;
        }

        .item.common img {
            background-color: #8d8e9f;
        }

        .item.rare img {
            background-color: #23b56b;
        }

        .item.epic img {
            background-color: #ffb244;
        }

        .item.legendary img {
            background-color: #9150bf;
            background-image: url(https://hh.hh-content.com/legendary.png);
            background-size: contain;
        }

        .girl .shard {
            float: left;
            background-image: url(https://hh.hh-content.com/shards_s.png);
            background-size: 40px;
            background-repeat: no-repeat;
            position: absolute;
            width: 80px;
            height: 40px;
            padding-top: 5px;
            font-size: 20px;
            font-family: "Carter One", "Alegreya Sans", sans-serif;
            font-weight: bold;
            color: #80058b;
            text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff;
        }
    </style>
</head>
<body>
    <% events.forEach(event => {%>
    <div class="event">
        <% if ( event.type === "fetchHaremMoney" ) { %>
            <%- include("events/fetchHaremMoney", {event}) -%>
        <% } else if ( event.type === "arenaBattle" ) { %>
            <%- include("events/arenaBattle", {event}) -%>
        <% } else if ( event.type === "trollBattle" ) { %>
            <%- include("events/trollBattle", {event}) -%>
        <% } else if ( event.type === "leagueBattle" ) { %>
            <%- include("events/leagueBattle", {event}) -%>
        <% } else if ( event.type === "mission" ) { %>
            <%- include("events/mission", {event}) -%>
        <% } else if ( event.type === "pachinko" ) { %>
            <%- include("events/pachinko", {event}) -%>
        <% } else if ( event.type === "sell" ) { %>
            <%- include("events/sell", {event}) -%>
        <% } else if ( event.type === "buy" ) { %>
            <%- include("events/buy", {event}) -%>
        <% } else if ( event.type === "quest" ) { %>
            <%- include("events/quest", {event}) -%>
        <% } else if ( event.type === "contest" ) { %>
            <%- include("events/contest", {event}) -%>
        <% } else { %>
            <%= event.type %>
        <% } %>
        <div class="date"><%= moment(event.date).format("DD/MM - HH:mm") %></div>
    </div>
    <div class="separator"></div>
    <% }); %>
</body>
</html>
