<h2><%= __("event_buy") %></h2>
<%= formatNumber(event.buy.softCurrency) %><%= __("unit_softCurrency") %> <%= __n("buy_result", event.buy.nbItems) %><br />
<%- include("../item", {source: event.buy}) -%>
