<h2><%= __("event_pachinko", event.pachinko.nbPachinko) %></h2>
<% if ( event.pachinko.softCurrency ) { %>
    <%= formatNumber(event.pachinko.softCurrency) %><%= __("unit_softCurrency") %><br />
<% } %>
<% if ( event.pachinko.hardCurrency) { %>
    <%= formatNumber(event.pachinko.hardCurrency) %> <%= __("unit_hardCurrency") %><br />
<% } %>
<%- include("../reward", {reward: event.pachinko.reward}) -%>
