<h2><%= __n("event_quest", event.quest.nbQuests) %></h2>
<% if ( event.quest.girl ) { %><%- include("../girl", {girls: [event.quest.girl]}) -%><% } %>
<% if ( event.quest.softCurrency ) { %>
    <%= formatNumber(event.quest.softCurrency) %><%= __("unit_softCurrency") %><br />
<% } %>
<% if ( event.quest.hardCurrency) { %>
    <%= formatNumber(event.quest.hardCurrency) %> <%= __("unit_hardCurrency") %><br />
<% } %>
<% if ( event.quest.energyQuest ) { %>
    <%= event.quest.energyQuest %> <%= __("unit_energyQuest") %><br />
<% } %>
<% if ( event.quest.xp !== 0 ) { %>
    +<%= event.quest.xp %> XP<br />
<% } %>
