<h2><%= __("event_upgradeCarac") %></h2>
<% if ( event.upgradeCarac.softCurrency ) { %>
    <%= formatNumber(event.upgradeCarac.softCurrency) %><%= __("unit_softCurrency") %><br />
<% } %>
<% if ( event.upgradeCarac.carac1 ) { %>
    +<%= event.upgradeCarac.carac1 %> <%= __("carac1") %><br />
<% } %>
<% if ( event.upgradeCarac.carac2 ) { %>
    +<%= event.upgradeCarac.carac2 %> <%= __("carac2") %><br />
<% } %>
<% if ( event.upgradeCarac.carac3 ) { %>
    +<%= event.upgradeCarac.carac3 %> <%= __("carac3") %><br />
<% } %>
